[settings]
experimental = true
lockfile = true

[env]
"_".file = "{{ config_root }}/.env.local"

[tools]
"rust" = "nightly"
"node" = "latest"

[tasks.build]
description = "Build README.typ and write to dist/"
run = "processing/compile-typst/target/release/compile-typst README.typ dist/"

[tasks.rebuild]
description = "Rebuild the README.typ with all dependencies"
usage = """
arg "<github-username>" env="GITHUB_USERNAME" help="GitHub username for snake contribution graph"
arg "<github-token>" env="GITHUB_TOKEN" help="GitHub token for snake contribution graph"
"""
run = [
  'GITHUB_TOKEN="$usage_github_token" GITHUB_USERNAME="$usage_github_username" mise run generate-snake ::: generate-typing-banner',
  "mise run compile:builder",
  "mise run build",
]

[tasks."compile:builder"]
description = "Compile the compile-typst crate"
dir = "{{ config_root }}/processing/compile-typst"
sources = ["src/**/*.rs", "Cargo.toml", "Cargo.lock"]
outputs = ["compile-typst"]
run = [
  "cargo build --release",
]


[tasks."generate-snake"]
description = "Generate snake contribution graph"
usage = """
arg "<username>" env="GITHUB_USERNAME" help="Username for pacman contribution graph"
arg "<github-token>" env="GITHUB_TOKEN" help="GitHub token for snake contribution graph"
"""
run = """
#!/usr/bin/env bash
set -euo pipefail
mkdir -p out
INPUT_OUTPUTS="
  out/snake-contribution-graph-light.svg?color_snake=orange
  out/snake-contribution-graph-dark.svg?palette=github-dark&color_snake=blue
" \
INPUT_GITHUB_USER_NAME="$usage_username" \
INPUT_GITHUB_TOKEN="$usage_github_token" \
node processing/snk/index.js
"""

[tasks."generate-typing-banner"]
description = "Generate typing banner"
run = """
mkdir -p out
curl -o out/typing-banner-light.svg 'https://readme-typing-svg.herokuapp.com?font=Fira+Code&weight=600&size=28&duration=2000&pause=1000&color=d66730&center=true&vCenter=true&width=600&lines=Entering+pofile+of+TimerErTim...;impl+Developer+for+TimerErTim;;Compiling+awesome-projects+v1.0...'
curl -o out/typing-banner-dark.svg 'https://readme-typing-svg.herokuapp.com?font=Fira+Code&weight=600&size=28&duration=2000&pause=1000&color=edb76f&center=true&vCenter=true&width=600&lines=Entering+pofile+of+TimerErTim...;impl+Developer+for+TimerErTim;;Compiling+awesome-projects+v1.0...'
"""